Web References/wsGym/wsGym.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="buscarPaquetes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paquetes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarPaquetesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarPaquetesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paquetes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDetalleInscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="paquetes" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDetalleInscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarDetalleInscripcionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarClientePorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarClientePorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarClientePorNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarTipoInscripcionPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarTipoInscripcionPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarTipoInscripcionPorNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarAdministradorPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarAdministradorPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarAdministradorPorNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarEntrenadorPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarEntrenadorPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarEntrenadorPorNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarHorario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="hora" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarHorarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarHorarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDisciplinaPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDisciplinaPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarDisciplinaPorNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarNotaInscripcionPorNombre">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="nombre" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarNotaInscripcionPorNombreResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarNotaInscripcionPorNombreResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarPaquetes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="cupos" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_disciplina" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarPaquetesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarPaquetesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarDetalleInscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="cantidad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_cliente" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="precio" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="id_paquete" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarDetalleInscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarDetalleInscripcionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarClienteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarTipoInscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="costo" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="periodo" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="frecuencia" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarTipoInscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarTipoInscripcionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarNotaInscripcion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idCli" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idTipoIns" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarNotaInscripcionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarNotaInscripcionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarAdministrador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contrasena" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarAdministradorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarAdministradorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarEntrenador">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="apellido" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarEntrenadorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarEntrenadorResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarHorario">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="horaE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="horaS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarHorarioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarHorarioResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarDisciplina">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idE" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idH" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="guardarDisciplinaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="guardarDisciplinaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarVentaPorFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarVentaPorFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarVentaPorFechaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDisciplinaPorPaquete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nombre" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarDisciplinaPorPaqueteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarDisciplinaPorPaqueteResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarInscripcionPorFecha">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fecha1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fecha2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="buscarInscripcionPorFechaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="buscarInscripcionPorFechaResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="buscarPaquetesSoapIn">
    <wsdl:part name="parameters" element="tns:buscarPaquetes" />
  </wsdl:message>
  <wsdl:message name="buscarPaquetesSoapOut">
    <wsdl:part name="parameters" element="tns:buscarPaquetesResponse" />
  </wsdl:message>
  <wsdl:message name="buscarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:buscarCliente" />
  </wsdl:message>
  <wsdl:message name="buscarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:buscarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="buscarDetalleInscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:buscarDetalleInscripcion" />
  </wsdl:message>
  <wsdl:message name="buscarDetalleInscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:buscarDetalleInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="buscarClientePorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:buscarClientePorNombre" />
  </wsdl:message>
  <wsdl:message name="buscarClientePorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:buscarClientePorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="buscarTipoInscripcionPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:buscarTipoInscripcionPorNombre" />
  </wsdl:message>
  <wsdl:message name="buscarTipoInscripcionPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:buscarTipoInscripcionPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="buscarAdministradorPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:buscarAdministradorPorNombre" />
  </wsdl:message>
  <wsdl:message name="buscarAdministradorPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:buscarAdministradorPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="buscarEntrenadorPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:buscarEntrenadorPorNombre" />
  </wsdl:message>
  <wsdl:message name="buscarEntrenadorPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:buscarEntrenadorPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="buscarHorarioSoapIn">
    <wsdl:part name="parameters" element="tns:buscarHorario" />
  </wsdl:message>
  <wsdl:message name="buscarHorarioSoapOut">
    <wsdl:part name="parameters" element="tns:buscarHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="buscarDisciplinaPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:buscarDisciplinaPorNombre" />
  </wsdl:message>
  <wsdl:message name="buscarDisciplinaPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:buscarDisciplinaPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="buscarNotaInscripcionPorNombreSoapIn">
    <wsdl:part name="parameters" element="tns:buscarNotaInscripcionPorNombre" />
  </wsdl:message>
  <wsdl:message name="buscarNotaInscripcionPorNombreSoapOut">
    <wsdl:part name="parameters" element="tns:buscarNotaInscripcionPorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="guardarPaquetesSoapIn">
    <wsdl:part name="parameters" element="tns:guardarPaquetes" />
  </wsdl:message>
  <wsdl:message name="guardarPaquetesSoapOut">
    <wsdl:part name="parameters" element="tns:guardarPaquetesResponse" />
  </wsdl:message>
  <wsdl:message name="guardarDetalleInscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:guardarDetalleInscripcion" />
  </wsdl:message>
  <wsdl:message name="guardarDetalleInscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:guardarDetalleInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="guardarClienteSoapIn">
    <wsdl:part name="parameters" element="tns:guardarCliente" />
  </wsdl:message>
  <wsdl:message name="guardarClienteSoapOut">
    <wsdl:part name="parameters" element="tns:guardarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="guardarTipoInscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:guardarTipoInscripcion" />
  </wsdl:message>
  <wsdl:message name="guardarTipoInscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:guardarTipoInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="guardarNotaInscripcionSoapIn">
    <wsdl:part name="parameters" element="tns:guardarNotaInscripcion" />
  </wsdl:message>
  <wsdl:message name="guardarNotaInscripcionSoapOut">
    <wsdl:part name="parameters" element="tns:guardarNotaInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="guardarAdministradorSoapIn">
    <wsdl:part name="parameters" element="tns:guardarAdministrador" />
  </wsdl:message>
  <wsdl:message name="guardarAdministradorSoapOut">
    <wsdl:part name="parameters" element="tns:guardarAdministradorResponse" />
  </wsdl:message>
  <wsdl:message name="guardarEntrenadorSoapIn">
    <wsdl:part name="parameters" element="tns:guardarEntrenador" />
  </wsdl:message>
  <wsdl:message name="guardarEntrenadorSoapOut">
    <wsdl:part name="parameters" element="tns:guardarEntrenadorResponse" />
  </wsdl:message>
  <wsdl:message name="guardarHorarioSoapIn">
    <wsdl:part name="parameters" element="tns:guardarHorario" />
  </wsdl:message>
  <wsdl:message name="guardarHorarioSoapOut">
    <wsdl:part name="parameters" element="tns:guardarHorarioResponse" />
  </wsdl:message>
  <wsdl:message name="guardarDisciplinaSoapIn">
    <wsdl:part name="parameters" element="tns:guardarDisciplina" />
  </wsdl:message>
  <wsdl:message name="guardarDisciplinaSoapOut">
    <wsdl:part name="parameters" element="tns:guardarDisciplinaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorFechaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarVentaPorFecha" />
  </wsdl:message>
  <wsdl:message name="buscarVentaPorFechaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarVentaPorFechaResponse" />
  </wsdl:message>
  <wsdl:message name="buscarDisciplinaPorPaqueteSoapIn">
    <wsdl:part name="parameters" element="tns:buscarDisciplinaPorPaquete" />
  </wsdl:message>
  <wsdl:message name="buscarDisciplinaPorPaqueteSoapOut">
    <wsdl:part name="parameters" element="tns:buscarDisciplinaPorPaqueteResponse" />
  </wsdl:message>
  <wsdl:message name="buscarInscripcionPorFechaSoapIn">
    <wsdl:part name="parameters" element="tns:buscarInscripcionPorFecha" />
  </wsdl:message>
  <wsdl:message name="buscarInscripcionPorFechaSoapOut">
    <wsdl:part name="parameters" element="tns:buscarInscripcionPorFechaResponse" />
  </wsdl:message>
  <wsdl:portType name="wsGymSoap">
    <wsdl:operation name="buscarPaquetes">
      <wsdl:input message="tns:buscarPaquetesSoapIn" />
      <wsdl:output message="tns:buscarPaquetesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarCliente">
      <wsdl:input message="tns:buscarClienteSoapIn" />
      <wsdl:output message="tns:buscarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarDetalleInscripcion">
      <wsdl:input message="tns:buscarDetalleInscripcionSoapIn" />
      <wsdl:output message="tns:buscarDetalleInscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarClientePorNombre">
      <wsdl:input message="tns:buscarClientePorNombreSoapIn" />
      <wsdl:output message="tns:buscarClientePorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarTipoInscripcionPorNombre">
      <wsdl:input message="tns:buscarTipoInscripcionPorNombreSoapIn" />
      <wsdl:output message="tns:buscarTipoInscripcionPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarAdministradorPorNombre">
      <wsdl:input message="tns:buscarAdministradorPorNombreSoapIn" />
      <wsdl:output message="tns:buscarAdministradorPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarEntrenadorPorNombre">
      <wsdl:input message="tns:buscarEntrenadorPorNombreSoapIn" />
      <wsdl:output message="tns:buscarEntrenadorPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarHorario">
      <wsdl:input message="tns:buscarHorarioSoapIn" />
      <wsdl:output message="tns:buscarHorarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarDisciplinaPorNombre">
      <wsdl:input message="tns:buscarDisciplinaPorNombreSoapIn" />
      <wsdl:output message="tns:buscarDisciplinaPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarNotaInscripcionPorNombre">
      <wsdl:input message="tns:buscarNotaInscripcionPorNombreSoapIn" />
      <wsdl:output message="tns:buscarNotaInscripcionPorNombreSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarPaquetes">
      <wsdl:input message="tns:guardarPaquetesSoapIn" />
      <wsdl:output message="tns:guardarPaquetesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarDetalleInscripcion">
      <wsdl:input message="tns:guardarDetalleInscripcionSoapIn" />
      <wsdl:output message="tns:guardarDetalleInscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarCliente">
      <wsdl:input message="tns:guardarClienteSoapIn" />
      <wsdl:output message="tns:guardarClienteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarTipoInscripcion">
      <wsdl:input message="tns:guardarTipoInscripcionSoapIn" />
      <wsdl:output message="tns:guardarTipoInscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarNotaInscripcion">
      <wsdl:input message="tns:guardarNotaInscripcionSoapIn" />
      <wsdl:output message="tns:guardarNotaInscripcionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarAdministrador">
      <wsdl:input message="tns:guardarAdministradorSoapIn" />
      <wsdl:output message="tns:guardarAdministradorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarEntrenador">
      <wsdl:input message="tns:guardarEntrenadorSoapIn" />
      <wsdl:output message="tns:guardarEntrenadorSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarHorario">
      <wsdl:input message="tns:guardarHorarioSoapIn" />
      <wsdl:output message="tns:guardarHorarioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="guardarDisciplina">
      <wsdl:input message="tns:guardarDisciplinaSoapIn" />
      <wsdl:output message="tns:guardarDisciplinaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPorFecha">
      <wsdl:input message="tns:buscarVentaPorFechaSoapIn" />
      <wsdl:output message="tns:buscarVentaPorFechaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarDisciplinaPorPaquete">
      <wsdl:input message="tns:buscarDisciplinaPorPaqueteSoapIn" />
      <wsdl:output message="tns:buscarDisciplinaPorPaqueteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="buscarInscripcionPorFecha">
      <wsdl:input message="tns:buscarInscripcionPorFechaSoapIn" />
      <wsdl:output message="tns:buscarInscripcionPorFechaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsGymSoap" type="tns:wsGymSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarPaquetes">
      <soap:operation soapAction="http://tempuri.org/buscarPaquetes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCliente">
      <soap:operation soapAction="http://tempuri.org/buscarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDetalleInscripcion">
      <soap:operation soapAction="http://tempuri.org/buscarDetalleInscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarClientePorNombre">
      <soap:operation soapAction="http://tempuri.org/buscarClientePorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTipoInscripcionPorNombre">
      <soap:operation soapAction="http://tempuri.org/buscarTipoInscripcionPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAdministradorPorNombre">
      <soap:operation soapAction="http://tempuri.org/buscarAdministradorPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarEntrenadorPorNombre">
      <soap:operation soapAction="http://tempuri.org/buscarEntrenadorPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarHorario">
      <soap:operation soapAction="http://tempuri.org/buscarHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDisciplinaPorNombre">
      <soap:operation soapAction="http://tempuri.org/buscarDisciplinaPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarNotaInscripcionPorNombre">
      <soap:operation soapAction="http://tempuri.org/buscarNotaInscripcionPorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarPaquetes">
      <soap:operation soapAction="http://tempuri.org/guardarPaquetes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarDetalleInscripcion">
      <soap:operation soapAction="http://tempuri.org/guardarDetalleInscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarCliente">
      <soap:operation soapAction="http://tempuri.org/guardarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarTipoInscripcion">
      <soap:operation soapAction="http://tempuri.org/guardarTipoInscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarNotaInscripcion">
      <soap:operation soapAction="http://tempuri.org/guardarNotaInscripcion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarAdministrador">
      <soap:operation soapAction="http://tempuri.org/guardarAdministrador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarEntrenador">
      <soap:operation soapAction="http://tempuri.org/guardarEntrenador" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarHorario">
      <soap:operation soapAction="http://tempuri.org/guardarHorario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarDisciplina">
      <soap:operation soapAction="http://tempuri.org/guardarDisciplina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPorFecha">
      <soap:operation soapAction="http://tempuri.org/buscarVentaPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDisciplinaPorPaquete">
      <soap:operation soapAction="http://tempuri.org/buscarDisciplinaPorPaquete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarInscripcionPorFecha">
      <soap:operation soapAction="http://tempuri.org/buscarInscripcionPorFecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsGymSoap12" type="tns:wsGymSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="buscarPaquetes">
      <soap12:operation soapAction="http://tempuri.org/buscarPaquetes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarCliente">
      <soap12:operation soapAction="http://tempuri.org/buscarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDetalleInscripcion">
      <soap12:operation soapAction="http://tempuri.org/buscarDetalleInscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarClientePorNombre">
      <soap12:operation soapAction="http://tempuri.org/buscarClientePorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarTipoInscripcionPorNombre">
      <soap12:operation soapAction="http://tempuri.org/buscarTipoInscripcionPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarAdministradorPorNombre">
      <soap12:operation soapAction="http://tempuri.org/buscarAdministradorPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarEntrenadorPorNombre">
      <soap12:operation soapAction="http://tempuri.org/buscarEntrenadorPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarHorario">
      <soap12:operation soapAction="http://tempuri.org/buscarHorario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDisciplinaPorNombre">
      <soap12:operation soapAction="http://tempuri.org/buscarDisciplinaPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarNotaInscripcionPorNombre">
      <soap12:operation soapAction="http://tempuri.org/buscarNotaInscripcionPorNombre" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarPaquetes">
      <soap12:operation soapAction="http://tempuri.org/guardarPaquetes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarDetalleInscripcion">
      <soap12:operation soapAction="http://tempuri.org/guardarDetalleInscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarCliente">
      <soap12:operation soapAction="http://tempuri.org/guardarCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarTipoInscripcion">
      <soap12:operation soapAction="http://tempuri.org/guardarTipoInscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarNotaInscripcion">
      <soap12:operation soapAction="http://tempuri.org/guardarNotaInscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarAdministrador">
      <soap12:operation soapAction="http://tempuri.org/guardarAdministrador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarEntrenador">
      <soap12:operation soapAction="http://tempuri.org/guardarEntrenador" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarHorario">
      <soap12:operation soapAction="http://tempuri.org/guardarHorario" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="guardarDisciplina">
      <soap12:operation soapAction="http://tempuri.org/guardarDisciplina" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarVentaPorFecha">
      <soap12:operation soapAction="http://tempuri.org/buscarVentaPorFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarDisciplinaPorPaquete">
      <soap12:operation soapAction="http://tempuri.org/buscarDisciplinaPorPaquete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="buscarInscripcionPorFecha">
      <soap12:operation soapAction="http://tempuri.org/buscarInscripcionPorFecha" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsGym">
    <wsdl:port name="wsGymSoap" binding="tns:wsGymSoap">
      <soap:address location="https://localhost:44333/wsGym.asmx" />
    </wsdl:port>
    <wsdl:port name="wsGymSoap12" binding="tns:wsGymSoap12">
      <soap12:address location="https://localhost:44333/wsGym.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>